html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ol, ul {
  padding-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-status {
  margin-bottom: 20px;
  color: black;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 42px;
  font-weight: bolder;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  margin-top: -100px;
}

.game-info {
  margin-left: 40px;
  font-size: 16px;
  /*text-align: center;*/
}

.game-board {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
}

.game-errors {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: red;
  text-align: center;
}

.game-replay {
  width: 100px;
  border: 1px solid #999;
  padding: 6px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.game-replay:hover {
  color: #999;
}
